node_modules
npm-debug.log
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
storage/*.key
vendor
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!.gitkeep
public/storage
public/hot

